<!DOCTYPE HTML>
<!--
	Ion by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Right Sidebar - Ion by TEMPLATED</title>
		 <meta charset="utf-8">
		<meta http-equiv="content-type" content="text/html; "/>
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-xlarge.css" />
		</noscript>
	</head>
	<body id="top">

		<!-- Header -->
			<header id="header" class="skel-layers-fixed">
				<nav id="nav">					
					<ul>
						<li><a href="index.html">Home</a></li>
						<li>
							<a >Relatos</a>   <!-- href="left-sidebar.html" comando para clicar e ir ao endereço-->
							<ul>
								<li><a href="index.html">Argentina</a></li>
								<li><a href="left-sidebar.html">Estados Unidos</a></li>
								<li><a href="right-sidebar.html">Japão</a></li>
								<li><a href="no-sidebar.html">Chile</a></li>
							</ul>
						</li>
					<!--	<li><a href="right-sidebar.html">Right Sidebar</a></li> 
						<li><a href="no-sidebar.html">No Sidebar</a></li> --> 
						<li><a href="#" class="button special">Sair</a></li>
					</ul>
				
			</header>

			<br>
			<section class="subscribe text-center">
          <div class="container">
            
            <form action="#">
            	<label>Nome</label>
	            <input type="text" name="" value="" placeholder="" required=""><br>

				<label>Data da Viagem</label>
	            <input type="date" name="date" id="d" required=""><br><br>
	           
	           
	            <label for="a">Selecione um arquivo</label>
				
				<a class="__9u __9t" rel="ignore">
					<div class="_3jk">
					<input type="file"  accept="image/*" multiple="" name="composer_photo" title="Escolha um arquivo para carregar" data-testid="add-more-photos" display="inline-block" class="_n _5f0v" id="js_12z"></div></a><br>

				<label for="m"> Descriçao da Foto</label>
				<textarea name="mensagem" id="msg" cols="40" rows="4" placeholder="Descrição"></textarea>
				<br>

	            <input type="submit" name="" value="Enviar">
            </form>
          </div>
        </section>

			

		
				

			<footer id="footer">
				<div class="container">
					<div class="row double">
						<div class="6u">
							<div class="row collapse-at-2">
								<div class="6u">
								
							</div>
						</div>
						<div class="6u">
						<!--	<h2>Aliquam Interdum</h2>
							<p>Blandit nunc tempor lobortis nunc non. Mi accumsan. Justo aliquet massa adipiscing cubilia eu accumsan id. Arcu accumsan faucibus vis ultricies adipiscing ornare ut. Mi accumsan justo aliquet.</p> -->
							<ul class="icons">
								<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
								<li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
							</ul>  
						</div>  
					</div>
				
				</div>
			</footer>

	</body>
</html>


